<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SprinklerRegistration</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.SprinklerRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SprinklerRegistration</servlet-name>
		<url-pattern>/sprinkler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScheduleId</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.ScheduleIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleId</servlet-name>
		<url-pattern>/id.txt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Forgot Password</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forgot Password</servlet-name>
		<url-pattern>/forgot_password</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Password Reset</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.PasswordResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Password Reset</servlet-name>
		<url-pattern>/reset/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Schedule Form</servlet-name>
		<servlet-class>org.wintrisstech.erik.sprinkler.ScheduleFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Schedule Form</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
 
 <!-- Admin stuff  -->
 <!-- ===========  -->
 
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>