<!DOCTYPE html>
<html>
<head>
<title>
Create Schedule
</title>
</head>
<body>
<h1> Create Your Schedule Here</h1>
<hr/>
<form action="schedule" method="post">
Day of Week:&nbsp;&nbsp;
Sunday <input type="checkbox" name="sun">&nbsp;
Monday <input type="checkbox" name="mon">&nbsp;
Tuesday <input type="checkbox" name="tue">&nbsp;
Wednesday <input type="checkbox" name="wed">&nbsp;
Thursday <input type="checkbox" name="thu">&nbsp;
Friday <input type="checkbox" name="fri">&nbsp;
Saturday <input type="checkbox" name="sat"><br/>
<hr/>
On: <input type="radio" name="on_off0" value="on"><br/>
Off: <input type="radio" name="on_off0" value="off"><br/>
Sprinkler:&nbsp;&nbsp;
0: <input type="checkbox" name="00">
1: <input type="checkbox" name="01">
2: <input type="checkbox" name="02">
3: <input type="checkbox" name="03">
4: <input type="checkbox" name="04">
5: <input type="checkbox" name="05"><br/>
Time: <input type="time" name="time0">(example: 14:25 for 2:25pm)
<hr/>
On: <input type="radio" name="on_off1" value="on"><br/>
Off: <input type="radio" name="on_off1" value="off"><br/>
Sprinkler:&nbsp;&nbsp;
0: <input type="checkbox" name="10">
1: <input type="checkbox" name="11">
2: <input type="checkbox" name="12">
3: <input type="checkbox" name="13">
4: <input type="checkbox" name="14">
5: <input type="checkbox" name="15"><br/>
Time: <input type="time" name="time1">(example: 14:25 for 2:25pm)
<hr/>
On: <input type="radio" name="on_off2" value="on"><br/>
Off: <input type="radio" name="on_off2" value="off"><br/>
Sprinkler:&nbsp;&nbsp;
0: <input type="checkbox" name="20">
1: <input type="checkbox" name="21">
2: <input type="checkbox" name="22">
3: <input type="checkbox" name="23">
4: <input type="checkbox" name="24">
5: <input type="checkbox" name="25"><br/>
Time: <input type="time" name="time2">(example: 14:25 for 2:25pm)
<hr/>
<input type="submit" value="Submit">
<hr/>
</form>
</body>
</hmtl>